
<center>
	<div id="main-nav">
		<ul id="nav-primary">
			<li ng-repeat="group in dexGroups">
				<a title="Region">{{ group.name }}</a>
				<ul class="subnav">
					<li ng-repeat="dex in group.dexes">
						<a href="#/{{ viewType }}/{{ dex }}">{{ dex }}</a>
					</li>
				</ul>
			</li>
		</ul>
	</div>
</center>
<div>
	<div class="block-6">
		<h1>{{ addedNote }}{{ dexTitle }}</h1>
	</div>
	<div class="standard-box-right">
		<a class="standard-box-link" href="" ng-click="updateMode( )"> {{ text [ mode ] }}</a>
	</div>
	<div class="standard-box-right">
		<a class="standard-box-link" href="/#/view/pokedex/{{ code }}/{{ dexTitle }}/{{ text[mode] }}" target="_blank" >Share</a>
	</div>
</div>
<div class="innerRegion" ng-if="hasCode">
	Select Pokedex to leave shared pokedex
</div>
<div class="innerRegion">
	<div ng-repeat="pkmn in Pokedex.pokemon" style="display: inline-block" >
		<div dex-entry id="pkmn" dex="Pokedex" mode="{{ mode }}"> </div>
	</div>
</div>

<div class="innerRegion">
	<center>
		Share using this <a href="/#/dexview/{{ code }}">link</a>
	</center>
</div>
