
<center>
	<div id="main-nav">
		<ul id="nav-primary">
			<li ng-repeat="group in dexGroups">
				<a title="Region">{{ group.name }}</a>
				<ul class="subnav">
					<li ng-repeat="dex in group.dexes">
						<a href="#/{{ viewType }}/{{ dex }}">{{ dex }}</a>
					</li>
				</ul>
			</li>
		</ul>
	</div>
</center>
<div class="innerRegion" ng-if="hasCode">
	Select Pokedex to leave shared pokedex
</div>
<div class="innerRegion">
	<div ng-repeat="pkmn in Pokedex.pokemon" class="checkboxWrapper" >
		<div dex-entry id="pkmn" dex="Pokedex"> </div>
	</div>
</div>

<div class="innerRegion">
	<center>
		Share using this <a href="/#/dexview/{{ code }}">link</a>
	</center>
</div>
