<div>
	<div class="ThinBlock">{{ title }}</div>
	<div class="StatItem">
		<img name="name" ng-click="updateValue(0)" src="img/pokeball{{ getValue(0) }}.png" class="checked" style="vertical-align: middle;"></img>
		<img name="name" ng-click="updateValue(1)" src="img/pokeball{{ getValue(1) }}.png" class="checked" style="vertical-align: middle;"></img>
		<img name="name" ng-click="updateValue(2)" src="img/pokeball{{ getValue(2) }}.png" class="checked" style="vertical-align: middle;"></img>
		<img name="name" ng-click="updateValue(3)" src="img/pokeball{{ getValue(3) }}.png" class="checked" style="vertical-align: middle;"></img>
		<img name="name" ng-click="updateValue(4)" src="img/pokeball{{ getValue(4) }}.png" class="checked" style="vertical-align: middle;"></img>
		<img name="name" ng-click="updateValue(5)" src="img/pokeball{{ getValue(5) }}.png" class="checked" style="vertical-align: middle;"></img>
	</div>
</div>