<tools-header></tools-header>
<div class="outerRegion">
	<div class="innerRegion">
		<div>
			<h1>Hidden Abilities</h1>
			<div>
				<a href="" ng-click="updateMode( )"> {{ text [ mode ] }}</a>
			</div>
		</div>
		Track pokemon sets where you have a pokemon (preferably female) in the group with the hidden ability.
		<div ng-repeat="sets in abilitySet" style="width:100%;" index="$index" >
			<div ability-set set="sets" mode="{{ mode }}"> </div>
		</div>
	</div>
	<div class="innerRegion">
		<center>
			Share using this <a href="/#/tools/abilities/{{ code }}">link</a>
		</center>
	</div>
</div>