<div ng-show="(getValue() == 0 && mode == 1) || (mode == 0) || (mode == 2 && getValue() > 0)">
	<div >
		<img name="name" ng-click="updateValue( )" src="img/pokeball{{ getValue( ) }}.png" class="checked" style="display: inline-block; height: 100%; vertical-align:top;"></img>	
		<div style="display: inline-block; vertical-align: top;">
			# {{ idx }}
		</div>
		<div style="width: 60%; display: inline-block;">
			<div ng-repeat="entry in set.items track by $index" class="checkboxWrapper" style="width: 100%;">
				<div ability-row row="entry" pkmn="2"> </div>
			</div>
		</div>
	<br/>
	</div>
</div>